
body {

   background-color: #FEFAE0;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-fluid{

  background: linear-gradient(to right, #5F6F52, #A9B388, #B99470);
  background-size: 200% 100%;
  animation: animatedGradient 8s linear infinite;;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}





.navbar{
  --bs-navbar-padding-x: none;
  --bs-navbar-padding-y: none;
  --bs-navbar-toggler-font-size: 3rem;
  --bs-navbar-toggler-border-color: none;
}


div a:hover{
    text-decoration: underline #5F6F52;
  }

  .btn{
     border: none;
     font-size: 2rem;
  }
  .btn:focus{
     border: none;
     outline: none;
  }

  .dropdown:hover{
  text-decoration: underline #5F6F52;

  }

.dropdown {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content:flex-start;
  flex-grow: 1;

}

.dropdown-menu{
  --bs-dropdown-bg: #FEFAE0;
}

hr {
  border-color: #5F6F52;
    border-top: 0.07rem solid;
    border-bottom: 0.3rem solid;
    height: 0.6rem;

}

.heroabout{
  background-color: #B99470;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding-bottom: 0;
}

.heroabout .lead {
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
  .heroabout .lead {
    font-size: 1.5rem;
  }
}




li{
  font-family: 'Open Sans', sans-serif;

}

.skillsfeatures {
  font-family: 'Open Sans', sans-serif;
}

.languages{
  font-family: 'Open Sans', sans-serif;
}

.card {
  background-color: #B99470;
  color: black;
  border-color: black;
}

.experience{
  font-family: 'Open Sans', sans-serif;
}

.accordion{

  --bs-accordion-btn-bg: #A9B388 ;
  --bs-accordion-active-bg:#5F6F52;
  --bs-accordion-active-color:#FEFAE0;
  --bs-accordion-btn-focus-box-shadow:none;
  --bs-accordion-bg:#FEFAE0;
  --bs-accordion-border-color:black;
}
